<html>
  <head>
    <title> Results </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <h1> TEST PAGE for Programmable Blocks</h1>
    <p> <%= result %> </p>

        <form method='post' action='/upload' enctype='multipart/form-data'>
      <input type='file' name='image'/>
      <input type='submit' />
    </form>
  </body>
</html>
